<!-- templates/home.html -->

{% extends "base.html" %} {% block content %}

<div>
  <div class="home-hero">
    <div class="hero-text">
      <h2>Learn About This Project</h2>
    </div>
  </div>

  <h2>Our Mission</h2>
  <p>
    Born into a digital world, our generation has never known life without
    technology, and with, it the ease with which misinformation spreads. At
    <strong>Fake News Inspector</strong>, our mission is to help users
    distinguish between factual and false information. By leveraging machine
    learning models for natural language processing (NLP), we analyze textual
    inputs to predict their credibility.
  </p>
  <h2>How We Work</h2>
  <p>
    Our platform utilizes transformer-based models, such as RoBERTa, fine-tuned
    on real-world datasets containing both true and false news articles. Through
    tokenization, preprocessing, and full model fine-tuning, we enable reliable
    classification of news content. The model is built using the Hugging Face
    Transformers library and trained with PyTorch.
  </p>

  <h2>Why it Matters</h2>
  <p>
    Fake news can influence opinions and spread fear. We believe that by
    providing reliable insights into the news people consume, we can help them
    reclaim their agency. Whether it’s politics, health, or world events, Fake
    News Inspector is here to keep you informed with accurate fact checking.
  </p>

  <h2>Our Team</h2>
  <li>
    Mai Chu (BU '25) —
    <a href="https://www.linkedin.com/in/maichumaichu/">LinkedIn</a> —
    <a href="">GitHub</a>
  </li>
  <li>
    Solanna Long (BU '25) —
    <a href="https://www.linkedin.com/in/solanna-long-a192122a8/">LinkedIn</a> —
    <a href="">GitHub</a>
  </li>
  <li>
    Chelsea Nnanyanzi (BU '26) —
    <a href="https://www.linkedin.com/in/chelsea-nnanyanzi/">LinkedIn</a> —
    <a href="https://github.com/chelsnn">GitHub</a>
  </li>
  <li>
    Aaron Piando (BU '26) —
    <a href="https://www.linkedin.com/in/apiando/">LinkedIn</a> —
    <a href="https://github.com/apiando">GitHub</a>
  </li>
</div>

{% endblock %}
