<!-- templates/home.html -->

{% extends "base.html" %} {% block content %}

<div>
  <div class="home-hero">
    <div class="hero-text">
        <h2>Learn About This Project</h2>
    </div>    
  </div>

  <h2>Our Mission</h2>
  <p>
    In today’s digital world, misinformation spreads faster than ever. At Fake
    News Inspector, our goal is to help you separate fact from fiction. Using
    advanced AI and real-time fact-checking, we analyze news articles, social
    media posts, and online sources to determine their credibility.
  </p>
  <h2>How We Work</h2>
  <p>
    Our platform leverages machine learning, natural language processing (NLP),
    BERT, and expert verification to evaluate the authenticity of news. We
    provide transparency by highlighting trusted sources, detecting bias, and
    flagging suspicious content so that you can make informed decisions.
  </p>

  <h2>Why it Matters</h2>
  <p>
    Fake news can influence opinions, spread fear, and distort reality. We
    believe in empowering people with the truth by providing reliable insights
    into the news they consume. Whether it’s politics, health, or world events,
    Fake News Inspector is here to keep you informed with accurate, fact-based
    reporting.
  </p>

  <h2>Join the Fight Against Misinformation</h2>
  <p>
    Become a part of the movement to combat fake news! Stay informed, fact-check
    before sharing, and help us create a more truthful internet. Stay updated!
    Follow us on social media and start fact-checking today!
  </p>

  <h2>Our Team</h2>
  <li>Mai Chu (BU '25) — <a href="https://www.linkedin.com/in/maichumaichu/">LinkedIn</a> — <a href="">GitHub</a></li>
  <li>Solanna Long (BU '25) — <a href="https://www.linkedin.com/in/solanna-long-a192122a8/">LinkedIn</a> — <a href="">GitHub</a></li>
  <li>Chelsea Nnanyanzi (BU '26) — <a href="https://www.linkedin.com/in/chelsea-nnanyanzi/">LinkedIn</a> — <a href="https://github.com/chelsnn">GitHub</a></li>
  <li>Aaron Piando (BU '26) — <a href="https://www.linkedin.com/in/apiando/">LinkedIn</a> — <a href="https://github.com/apiando">GitHub</a></li>
</div>

{% endblock %}
